.App {
  font-family: sans-serif;
  text-align: center;
}

.inputField {
  display: block;
  padding: 16px;
  font-size: 14px;
  width: 98%;
  border-radius: 6px;
  border: solid 1px #e0e5e9;
  background-color: #ffffff;
  transition: all 500ms;
}

.inputField:focus {
  box-shadow: 0 0 0 2px rgba(36, 34, 71, 0.12);
  outline: none;
  border: solid 1px #242247;
  outline-offset: 0;
}

.inputField::placeholder {
  color: #9aa2b1;
}

.cards-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  margin-top: 30px;
}

.card {
  display: flex;
  padding: 20px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 6px;
}

.avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 20px;
}
.avatar > img {
  width: inherit;
  height: inherit;
}
